{% extends 'base.html' %}
{% block content %}

<div id="pokemon-grid">
    <div id="pokemon-detail">
        <table>
            <td>
                <a href="/party/{{ pokemon.id }}/edit"><button id="edit-link">Edit</button></a> &nbsp;&nbsp; <a href="/party/{{ pokemon.id }}/delete"><button id="delete-link">Release</button></a>
                <br><br>
                <h3>{{ pokemon.name }}</h3>
                <img id="pokemon-detail-image" src={{ pokemon.image }}>
            </td>
            <td>
                <h2 id="label" style="color:rgb(6, 118, 170);">Type:</h2> <h2>{{ pokemon.poke_type }}</h2>
                <h2 id="label" style="color:rgb(6, 118, 170);">Caught:</h2> <h2>{{ pokemon.date_caught }}</h2>
                <h2 id="label" style="color:rgb(6, 118, 170);">Item:</h2> {% if pokemon.item %}<h2>{{ pokemon.item.name }}</h2>{% endif %}
                <h2 id="label" style="color:rgb(6, 118, 170);">Team?</h2> <h2>{{ pokemon.team|yesno:'Yes,No' }}</h2>
            </td>
        </table>
    </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3 style="color:rgb(6, 118, 170);">{{ pokemon.name }}'s Attacks</h3>
    {% if pokemon.attacks.count %}
      {% for attack in pokemon.attacks.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
                {{ attack.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Attacks</h5>
    {% endif %}
  </div>
  <!-- Available toys will come after this line -->
</div>
  <!-- Available toys will come after this line -->
  <div class="col s6">
    <h3 style="color:rgb(6, 118, 170);">Available Attacks</h3>
    {% if attacks.count %}
      {% for attack in attacks.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span>{{ attack.name }}</span> ({{ attack.type }})
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_attack' pokemon.id attack.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{pokemon.name}} Already Has All Attacks Available</h5>
    {% endif %}
  </div>

{% endblock %}