{% extends 'base.html' %}
{% block content %}

<section id="about-title-section">
    <h1 id="about-title">Add a Pokemon</h1>
</section>
<section id="pokemon-form">
    <form action="/pokemon_submit/" method="POST">
        {% csrf_token %}
        <h4>Name:</h4> <input name="name">
        <h4>Type:</h4> <input name="poke_type">
        <h4>Strongest Attack:</h4> <input name="strongest_attack">
        <h4>Date Caught:</h4> <input name="date_caught">
        <h4>Image:</h4> <input name="image">
        <h4>Team:</h4> <input name="team">
        <button id="add-edit-button" type="submit">Add</button>
    </form>
</section>

{% endblock %}