{% extends 'base.html' %}
{% block content %}
<section id="about-title-section">
    <h1 id="about-title">About the Pokemon Master</h1>
</section>
<table>
    <td>
<img id="about-image" src="https://i.imgur.com/dyV8pix.jpg"><br>
    </td>
    <!-- <img id="about-image" src="https://i.imgur.com/dyV8pix.jpg"> -->
    <td>
        <p id="about-body">
            Do you love "Sexy Boy" Marty? 
            <br><br>
            Follow the man on his new and exciting pokemon journey. 
            <br><br>
            After becoming the undisputed king of the UFC Lightweight Division, "Sexy Boy" regresses into the Kanto Region
            and seeks validation by constructing his own party of Pokemon in order to reach the 
            Indigo Plateau and finally become...a Pokemon Master!
        </p>
    </td>
</table>

{% endblock %}