{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
      {% block title %}
      {% endblock %}
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" id="main-link"><img id="home-logo" src="https://www.freepnglogos.com/uploads/logo-home-png/home-icons-icons-devine-icons-part-icon-19.png"></a></li>
            <!-- <img id="home-logo" src="https://i.pinimg.com/originals/e2/5c/43/e25c43c6a65bdca84c72f0c58524fcd6.png"></a></li> -->
            <li id="app-title">PokeCollector</li>
        </ul>
        <ul class="right">
          <li><a id="main-links" href="/about">About</a></li>
          <li><a id="main-links" href="/team">Current Team</a></li>
          <li><a id="main-links" href="/party/new">Add Pokemon</a></li>
          <li><a id="main-links" href="/party">Pokemon Box</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2021 Sexy Boy Productions &nbsp;</div>
  </footer>
</body>
</html>