{% extends 'base.html' %}
{% block content %}
<h1 id="home-title">The Ultimate Pokemon Collector</h1>
<p id="home-bio">
    This remarkable app allows you to witness and update the collection of Pokemon 
    from an aspiring Pokemon Master. 
    <br><br>
    Join in on the journey by collecting as many pokemon as are available 
    from the various regions, placing them in the Pokemon Box. 
    Who needs Pokemon Go when you have PokeCollector?
    <br><br>
    Feel free and construct the best teams with a variety of pokemon from the
    various regions.
</p>
<section id="home-images">
    <img id="pokemon-images" src="https://cdn2.bulbagarden.net/upload/thumb/7/77/PMD_Exploration_Team_artwork.png/1200px-PMD_Exploration_Team_artwork.png">
    <!-- <img id="ash-ketchum-img" src="https://cdn2.bulbagarden.net/upload/c/cd/Ash_JN.png">
    <img id="pikachu-img" src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c325.png
    ">
    <img id="misty-img" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2c62c2fa-f93c-4eb3-be2a-21a0e5af6107/d6peuzq-79fd2a04-5fc8-4020-aaec-c9fda771d043.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJjNjJjMmZhLWY5M2MtNGViMy1iZTJhLTIxYTBlNWFmNjEwN1wvZDZwZXV6cS03OWZkMmEwNC01ZmM4LTQwMjAtYWFlYy1jOWZkYTc3MWQwNDMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.3wKNzsZ6wcnsq6NLUb1uy7sCiLTQdeBdr_d3SjqLJLE"> -->
</section>
{% endblock %}