* {
  color: white;
  font-family: "Bungee", cursive;

  /* font-family: "Cinze1", serif; */
}

body {
  display: flex;
  min-height: 100vh;
  /* background: url("https://free4kwallpapers.com/uploads/originals/2015/08/22/pokemon-thread-amazing-pok-mon.jpg"); */
  /* background: url("https://cdn.wallpapersafari.com/15/53/f8R9uL.jpg"); */
  /* background: url("https://wallpapermemory.com/uploads/727/pokemon-sun-and-moon-wallpaper-uhd-4k-123264.jpg"); */
  background: url("https://pavbca.com/walldb/original/6/d/c/523270.jpg");
  background-size: cover;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

nav,
.page-footer,
footer > div {
  /* background-color: rgb(6, 118, 170); */
  background-color: rgb(34, 34, 34);
}

#about-title {
  /* padding: 10px; */
  /* text-align: center; */
  font-size: 80px;
  font-weight: bold;
  /* text-align: center; */
}

#app-title {
  font-size: 30px;
}

#home-title {
  font-weight: bold;
}

#about-title-section {
  /* padding: 20px; */
  border-radius: 25px;
  /* margin: 20px; */
  /* background-color: rgb(0, 0, 0, 0.8); */
}

td > h2 {
  font-size: 50px;
  text-align: center;
}

div > #in-site-links:hover,
h2 > #in-site-links:hover {
  color: white;
}

#each-party-pokemon:hover {
  background-color: rgb(6, 118, 170);
  /* background-color: rgb(63, 0, 78); */
}

#pokemon-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  margin: 100px;
  grid-gap: 2vh;
}

#each-pokemon-image {
  width: 200px;
}

#about-image {
  border-radius: 100px;
  border: 4px solid white;
  /* margin: 0px 500px 0px 500px; */
}

#about-body,
#home-bio {
  font-size: 30px;
  background-color: rgb(6, 118, 170, 0.9);
  /* background-color: rgb(0, 0, 0, 0.8); */
  border-radius: 25px;
  padding: 20px;
  width: 98%;
  margin: 20px;
}

#each-party-pokemon {
  border-radius: 100px;
  border: 4px solid white;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.9);
  margin: auto;
  text-align: center;
}

#each-party-pokemon:hover {
  transform: scale(1.3);
}

input {
  color: white;
}

#edit-link,
#delete-link {
  font-size: 40px;
  background-color: rgb(6, 118, 170);
  color: white;
  border-radius: 25px;
  width: 180px;
  height: 60px;
}

#edit-link:hover,
#delete-link:hover {
  background-color: white;
  color: rgb(6, 118, 170);
  cursor: pointer;
}

#pokemon-form {
  background-color: rgb(6, 118, 170, 0.9);
  /* background-color: rgb(63, 0, 78); */
  padding: 40px;
  margin: 40px;
  border-radius: 50px;
}

#pokemon-form:hover {
  background-color: rgb(0, 65, 95, 0.9);
}

#add-edit-button {
  width: 150px;
  height: 60px;
  border-radius: 50px;
  font-size: 40px;
  color: black;
  background-color: white;
}

#add-edit-button:hover,
#add-to-team-button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

#add-to-team-button {
  width: 150px;
  height: 30px;
  border-radius: 50px;
  font-size: 20px;
}

#main-links {
  font-size: 18px;
}

#main-links:hover {
  background-color: rgb(6, 118, 170);
}

#main-link:hover {
  background-color: rgba(153, 0, 255, 0);
}

#home-logo {
  width: 60px;
}

#home-logo:hover {
  background-color: rgb(6, 118, 170);
}

#pokemon-detail-image {
  width: 90%;
}

#pokemon-detail {
  background-color: rgb(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 25px;
}

#ash-ketchum-img {
  width: 28%;
}

#misty-img {
  width: 34%;
}

#pikachu-img {
  width: 30%;
}

#home-images {
  background-color: rgb(0, 0, 0, 0.5);
  padding: 30px;
  margin: 20px;
  border-radius: 25px;
}

#pokemon-images {
  width: 98%;
}

#pokedex-image {
  width: 90%;
  margin: 20px;
}

.card {
  background-color: rgb(6, 118, 170);
  border-radius: 25px;
}
