body {
  display: flex;
  min-height: 100vh;
  background: url("https://free4kwallpapers.com/uploads/originals/2015/08/22/pokemon-thread-amazing-pok-mon.jpg");
  background-size: cover;
  color: white;
  font-family: "Cinze1", serif;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

nav,
.page-footer,
footer > div {
  background-color: rgb(6, 118, 170);
}

#about-title {
  width: 60%;
  padding: 20px;
  text-align: center;
}

#pokemon-detail > h2 {
  font-size: 50px;
  text-align: center;
}

div > #in-site-links:hover,
h2 > #in-site-links:hover {
  color: white;
}

#pokemon-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  margin: 20px;
  grid-gap: 2vh;
}

#each-pokemon-image {
  width: 200px;
}

#about-image {
  border-radius: 100px;
  border: 4px solid white;
}

#about-body,
#home-bio {
  font-size: 30px;
  background-color: rgb(0, 0, 0, 0.9);
  border-radius: 25px;
}

#each-party-pokemon {
  border-radius: 100px;
  border: 4px solid white;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.9);
  margin: auto;
  text-align: center;
}
